#splash-title{
    font-family: 'Lily Script One', cursive;
}

.brand-logo{
    font-family: 'Lily Script One', cursive;
}

.card-image{
    height: 15%;
    width: 25%;
}

@media only screen and (min-width: 360px){
    header{
        margin-bottom: 20%;
    }
    main{
        margin-bottom: 55%;
    }

}

@media only screen and (min-width: 768px){
    header{
        margin-bottom: 10%;
    }
    main{
        margin-bottom: 25%;
    }
}

@media only screen and (min-width: 1280px){
    header{
        margin-bottom: 5%;
    }
    main{
        margin-bottom: 10%;
    }

}